<h1>Result</h1>



<%= link_to "Play again", new_path %>


<%# Sorry but can't be built out of  Go back to school, Idiot!  %>

<%# Sorry but does not seem to be a valid English word... Jerk! %>

<%# Congratulations!  is a valid English word! (don't think you're a genius) %>
